//primary color
$clr-primary: hsl(25, 97%, 53%);

//neutral color
$clr-neutral-wt: hsl(0, 0%, 100%);
$clr-neutral-lt-grey: hsl(217, 12%, 63%);
$clr-neutral-md-grey: hsl(216, 12%, 54%);
$clr-neutral-dk-bl: hsl(213, 19%, 18%);
$clr-neutral-vdk-bl: hsl(216, 12%, 8%);

//circle color
$clr-neutral-md-bl: hsl(213, 19%, 21%);