//padding
$pad-base: 0.5em;
$pad-sm: 0.75em;
$pad-md: 1em;
$pad-lg: 1.5em;
$pad-xl: 2em;
$pad-xxl: 2.5em;

//margin


$mar-base: 0.5em;
$mar-sm: 0.8em;
$mar-md: 1em;
$mar-lg: 1.5em;
$mar-xl: 2em;
$mar-xxl: 3em;

