@use 'scss/reset' as *;
@use 'scss/colors' as *;
@use 'scss/typography' as *;
@use 'scss/spacer' as *;


body {
    height: 100vh;
    font-family: $ff;
    background-color: $clr-neutral-vdk-bl;
    color: $clr-neutral-lt-grey;
    display: grid;
    place-content: center;
    font-weight: var(--fw-base);
}

.rating-card, .results-card {
    background-color: $clr-neutral-dk-bl;
    margin: $mar-xxl;
    padding: $pad-xxl;
    border-radius: 1.5em;
    max-width:650px;
}

.rating-icon {
    background-color: $clr-neutral-md-bl;
    margin: $mar-base 0;
    padding: $pad-md;
    border-radius: 50%;
    max-width: 3.5em;
    max-height: 3.5em;
    svg {
        width: 100%;
        height: auto;
    }
}

.rating-q {
    color: $clr-neutral-wt;
    font-size: var(--fs-xl);
    font-weight: var(--fw-thin);
    margin: $mar-base 0;
}

.rating-text {
    font-size: var(--fs-md);
}

.ratings {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    margin: $mar-lg 0;

    button {
        width: 3rem;
        height: 3rem;
        // font-weight: var(--fw-bold);
        font-size: var(--fs-sm);
        color: $clr-neutral-dk-wt;
        background-color: $clr-neutral-md-bl;
        padding-top: 0.3rem;
        border-radius: 50%;
        border-style: none;
    }
    button:hover {
        background-color: $clr-primary;
        cursor: pointer;
        color: $clr-neutral-wt;
    }
    button:focus {
        background-color: $clr-neutral-lt-grey;
        color: $clr-neutral-wt;
    }
    @media (min-width:550px) {
        button {
            width: 4.5rem;
            height: 4.5rem;
            font-size: var(--fs-md);
        }
    }
}

.rating-btn {
    display: grid;

    button {
        background-color: $clr-primary;
        color: $clr-neutral-wt;
        padding: $pad-base $pad-base*2;
        border-radius: 2em;
        border-style: none;
        font-size: var(--fs-md);
        text-transform: uppercase;
        letter-spacing: 0.3em;
    }
    button:hover {
        background-color: $clr-neutral-wt;
        color: $clr-primary;
        cursor: pointer;
    }
}

.results-card {
    text-align: center;
    margin-bottom: $mar-xxl;
    img {
        margin: 0 auto;
        padding: $pad-xl;
    }
    button {
        color: $clr-primary;
        background-color: $clr-neutral-md-bl;
        padding: $pad-base $pad-base*3;
        margin: $mar-base;
        border-style: none;
        border-radius: 1.5em;
    }
    h1 {
        color: $clr-neutral-wt;
        margin: $mar-base;
        font-size: var(--fs-lg);
    }

}


.attribution { 
    font-size: 11px; 
    text-align: center; 
};
.attribution a { 
    color: hsl(228, 45%, 44%); 
}
